*{
    margin:0 !important;
    padding: 0 !important;
}
body{
    /*overflow: hidden;*/
}
.header{
    background: var(--header-color);
    color: #eee;
    box-shadow: 0 -8px 7px var(--secondary-text-color);
}
.header>div,
.header>.row>*{
    display: flex;
    align-items: center;
    margin-inline:2px ;
    /*height: 1.5em;*/
}
.header>.row>div:nth-child(1){
    border-radius: 0 1em 1em 0;
    /*background: darkred;*/
}
.pp-div{
    border: 1px solid;
    border-radius: 50%;
    width: 8vw;
    height: 8vw;
    min-width: 25px;
    min-height: 25px;
    max-width: 30px;
    max-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.pp{
    object-fit: cover;
    width: inherit;
    height: inherit;
}
.cname{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.footer{
    background: var(--bottombar-color);
    /*border: 1px solid;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-form{
    width: 100%;
    display: flex;
    align-items: center;
    /*box-shadow: 0 0 5px 1px var(--secondary-background-color);*/
}
.footer-form>*{
    border:none;
}

.footer-form>.textarea{
    background: var(--message-textarea);
    color: var(--text-color);
    min-height: 2em;
    max-height:20vh;
    overflow: auto;
    border: 0.75px solid var(--secondary-text-color);
    border-radius: 25px;
    padding: 0.2em 12px !important;
    outline: none;
    font-size: 0.95em;
    width: 65vw;
    resize: both;
    line-height: 1.25;
    filter:brightness(0.99) !important;
}
.footer-form>.textarea:focus{
    filter: drop-shadow(0px 0px 4px var(--secondary-text-color)) brightness(1) !important;
}
.send-btn-div{

    background: #ff681d;
    margin-inline: auto !important;
    padding: 2px 8px 2px 10px !important;
    border: none;
    border-radius: 24px;
    box-shadow:0px 0px 4px var(--secondary-text-color);
}
.send-btn-div>input{
    /*height: 2em;*/
    background: transparent;
    color: #fff;
    font-size: 0.75em !important;
    border: none;
    outline: none;
    min-height: 1.8em;
}




.main{
    background: var(--background-color);
    height: calc(100vh - 2.2em);
    /*padding-bottom: 12px !important;*/
    overflow: scroll;
}
.msg-row{
    padding: 0 0 0 6px !important;
}
.msg-row>.pp-div{
    margin-top:5px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.msg-row>.pp-div>img{object-fit: cover}
.message{
    background: var(--object-color);
    color: var(--text-color);
    margin: 1px 5px 1px 8px !important;
    width: fit-content;
    max-width: 65vw;
    padding: 10px 16px !important;
    font-size: 0.95em;
    border-radius: 10px 10px 10px 1px;
    word-break: break-word;
    line-height: 1.25;
}
.msg-row + .msg-row .pp-div{
    visibility: hidden;
}


.mymsg-row{
    padding: 0 6px 0 0 !important;
    justify-content: flex-end;
    align-items: center;
}
.mymsg-row>.message{
    background: var(--shade-color);
    color: #fff;
    margin: 1px 1px 1px 5px !important;
    border-radius: 10px 10px 1px 10px;
    line-height: 1.25;
}
.msg-row + .mymsg-row,
.mymsg-row + .msg-row{
    margin-top: 8px !important;
}

.main>.row:nth-child(1){
    padding-top: 8px !important;
}


.more-msg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}
.more-msg>button{
    border: 0.5px var(--text-color) solid !important;
    background: var(--object-color);
    color: var(--text-color);
    border-radius: 50%;
    padding: 3px !important;
    outline: none;
}
.more-msg>button:hover{
    background: var(--shade-color);
    color:#dddddd;
}