{% extends 'base.html' %}
{% load static %}

{% block js %}
    <script src="{% static 'js/home.js' %}"></script>

{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block content %}

<header>
    <div id="header" class="container-fluid py-3 fixed-top">
        <div class="col-12 align-items-center">
            <div class="row mt-3">
                <h3 class="m-0">Boon</h3>

            </div>
            <div class="row mt-4 mb-4 text-center search-box">
                <input class="form-control py-2 textinput" type="search" placeholder="Search" aria-label="Search">
            </div>
        </div>
    </div>
</header>
<main>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="0">
  <div class="carousel-inner">
    <div id="requests"class="carousel-item">
        <h5 class="slide-heading">Requests</h5>

    </div>
    <div id="inbox" class="carousel-item active">
        <h5 class="slide-heading">Messages</h5>

    </div>
    <div id="contacts" class="carousel-item">
        <div class="slide-heading row">
            <h5 class="col">Contacts</h5>
            <span class="col-2 options material-icons" onclick="expandAddForm()">person_add</span>
        </div>
        <form action="" method="POST" class="row mx-2 add-person-formdiv closed">
{#            <input id="cf_name" class="col-10  m-1" type="text" value="" placeholder="Contact Name">#}
            <input id="cf_email" class="col-8 m-1 closed" type="email" value="" placeholder="Email Address">
            <input id="cf_add" class="col-2  m-1 closed" type="submit" value="Add">
        </form>
        <div id="all-contacts-div"></div>

    </div>
    <div class="carousel-item settings-carousel">
        <h5 class="slide-heading">Settings</h5>
        <div class="col text-center">
            <div class="profile-pic" onclick="changeProfilePic()"><img class="pprofile" src=""></div>

            <div class="profile-name mt-1">{{ name }}</div>
            <div class="settings mt-1">Email: {{ email }}</div>
            <div class="settings mt-3">
                <div class="tgl-group col-8 text-center" style="display:flex;margin:auto;">
                                <span style="margin:auto;">Dark Mode</span>
                                <input class='tgl tgl-light' id='display-address' type='checkbox' style="margin:auto;">
                                <label class='tgl-btn' for='display-address' style="margin:auto;"></label>
                </div>
            </div>

            <a class="col-3 settings mt-3 mb-2 px-3 py-3 sign-out-btn" href="/accounts/logout/">Signout</a>

        </div>

    </div>
  </div>
</div>
</main>
<footer>
    <div id="footer" class="container-fluid py-3 fixed-bottom">
        <div class="row text-center">
            <div class="col-3">
                <a href="#"><i class="material-icons bottom-icon"  onclick="toggle_active(this)" data-target=".carousel" data-slide-to="0">notifications</i></a>
            </div>
            <div class="col-3">
                <a href="#"><i class="material-icons active bottom-icon"  onclick="toggle_active(this)" data-target=".carousel" data-slide-to="1">chat_bubble</i></a>
            </div>
            <div class="col-3">
                <a href="#"><i class="material-icons bottom-icon"  onclick="toggle_active(this)" data-target=".carousel" data-slide-to="2">people</i></a>
            </div>
            <div class="col-3">
                <a href="#"><i class="material-icons bottom-icon"  onclick="toggle_active(this)" data-target=".carousel" data-slide-to="3" >settings</i></a>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'js/post-home.js' %}"></script>
{% endblock %}

