{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}



{% block content %}
    <div class="container appname-container">

        Boon
    </div>
    <div class="container login-container">
        <div class="row login-row vertical-center-row justify-content-center ml-3 mr-3 p-3">
          <div class="col-auto">
            <a class="btn btn-outline-none google-btn" href="{% provider_login_url 'google' %}" role="button" style="text-transform:none">
              <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
              Login with Google
            </a>
          </div>
          <div class="col-auto">
            <a class="btn btn-outline-none google-btn" href="{% provider_login_url 'github' %}" role="button" style="text-transform:none">
              <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Github sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/900px-Octicons-mark-github.svg.png" />
              Login with Github
            </a>
          </div>

    </div>

{% endblock %}