{% extends 'base.html' %}
{% block title %} Login | Chat {% endblock %}
{% block css %}
<style>
#parent-div{background: var(--header-color);}
#login-form{background: white; border-radius: 20px;padding: 4em;}
#app-name{font-family: 'Pacifico', cursive;color: white}
</style>
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}
    <div id="parent-div" class="vh-100 d-flex flex-column justify-content-center align-items-center">
    <div class="mb-2">
        <h1 id="app-name">Namaste !!</h1>
    </div>
        <form id="login-form" action="/login/" method="post" class="my-5">{% csrf_token %}
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
          </div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
          <div class="d-flex flex-column">
              <button type="submit" class="btn btn-primary">Login</button>
              <div class="flex-fill text-center mt-2"><span> Create an account ?  </span>
              <a type="button" href="/signup" class="btn btn-outline-primary ms-1">Signup</a></div>
          </div>
        </form>
    </div>
{% endblock %}