{% extends 'base.html' %}
{% block title %} Signup | Chat {% endblock %}
{% block css %}

{% endblock %}

{% block script %}
{% endblock %}

{% block body %}
    <div class="container">
        <form action="/signup/" method="post">{% csrf_token %}
          <div class="mb-3">
            <label for="Text" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="text" aria-describedby="">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
          </div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}